* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: green;
	/*animation: rainbow-bg 10s linear;
	animation-iteration-count: infinite;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
}

#canvasGame {
	border: 10px solid rgb(202, 202, 202);
}

@keyframes rainbow-bg{
	100%,0%{
		background-color: rgb(255,0,0);
	}
	8%{
		background-color: rgb(255,127,0);
	}
	16%{
		background-color: rgb(255,255,0);
	}
	25%{
		background-color: rgb(127,255,0);
	}
	33%{
		background-color: rgb(0,255,0);
	}
	41%{
		background-color: rgb(0,255,127);
	}
	50%{
		background-color: rgb(0,255,255);
	}
	58%{
		background-color: rgb(0,127,255);
	}
	66%{
		background-color: rgb(0,0,255);
	}
	75%{
		background-color: rgb(127,0,255);
	}
	83%{
		background-color: rgb(255,0,255);
	}
	91%{
		background-color: rgb(255,0,127);
	}
}